ul{
    text-align: center;
}

li{
    text-align: center;
}

#contenedor{
    width: 900px;
    height: 1200px;
    background-color: #d49e23;
}

#encabezado{
    height: 25%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #d9bd1f;
}

#menu{
    height: 5%;
    background-color: #713505;
}

#seccion1{
    height: 30%;
    border-color: 68531e;
    border: 2px;
    background-color: #b01a1c;
}

#seccion2{
    height: 30%;
    border-color: 68531e;
    border: 2px;
    background-color: #dcc43c;
}

#pie{
    height: 10%;
    background-color: #744607;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 80px;
    color: white;
}

.barraNavegacion{
    size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo_S1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 35px;
    text-align: left;
    margin: 20px;
    color: white;
}

.titulo_S2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 35px;
    text-align: right;
    margin: 20px;
}

.texto_S1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 10px;
    text-align: justify;
    color: white;
    margin-left: 20px;
    margin-right: 450px;
}

.texto_S2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 10px;
    text-align: justify;
    margin-right: 20px;
    margin-left: 450px;
}

.imagen1{
    float: right;
    height: 100px;
    width: 100px;
    border: 1px solid #ddd; 
    margin-left: 5px; 
    margin-right: 5px;
}
.imagen2{
    float: left;
    height: 100px;
    width: 100px;
    border: 1px solid #ddd; 
    margin-left: 5px; 
    margin-right: 5px;
}

.imagenes_S2{
    width: 100px; 
    height: 100px;
    border: 1px solid #ddd; 
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}
